<template>
  <!-- Pagina che visualizza tutti i post pubblicati del singolo utente-->
  <div class="flex  justify-center   flex-wrap">
    <strong> POST PUBBLICATI </strong>
    <div v-if="myPublishedPosts" class=" flex  justify-center   flex-wrap "> <!-- v-for di vuejs  per prendere tutti  i post pubblcati-->
      <article v-for=" post of myPublishedPosts" :key="post.id" class="  bg-red-200 m-4 border-4 border-red-600 rounded-lg sm:w-96 ">

        <div class="flex  justify-center "> <!-- utente che ha pubblicato il porst e data-->
        
            <div class="">
              Utente che ha pubblicato il post:  <strong class="font-bold">{{post.user.name}} </strong>
            </div>
            <div class="ml-4">
              Data: <strong > {{post.dataPubblication}} </strong>
            </div>
        </div>

        <div class="flex  justify-center w-full"> 

          <div class=""> <!-- titolo-->
                Titolo: <strong > {{post.title}} </strong>
          </div>

        </div>


        <div class="flex  justify-center"> <!--contenuto-->

          <div class="">
             
              Contenuto: <strong> {{post.post_content.textContent}} </strong>

              <div v-if=" post.post_content.users.length > 0">
                Utenti Taggati
                <article v-for=" userTagged of post.post_content.users" :key="userTagged.id">
                  <strong> {{userTagged.name}} </strong>
                </article>
              </div>
              
              Immagine: <img v-if="post.post_content.imgContent"  :src="post.post_content.postContent_image_full_url" alt="">
          </div>

        </div>
        <div class=""> <!-- id-->
            id: <strong> {{post.id}} </strong>
        </div>

      </article>

    </div>
    <div v-else >{{errorsPosts}}</div>
  </div>

</template>

<script>
export default {
  name: 'post-pubblicati',
  methods:
  {

  },
  computed:
  {
    myPublishedPosts() // richiamo dallo store tutti i postPubblicati dal singolo utente
    {
      return this.$store.getters.myPublishedPosts; 
    },
    user() // richiamo dallo store l'utente con i suoi dati (userData)
    {
      return this.$store.getters.user;
    },
    errorsPosts()
    {
      return this.$store.getters.errorsMyPosts;
    } 
  
  },

    created: function()
    {
      this.$store.dispatch('getAllMyPublishedPosts'); // al richiamo della pagina verrà effettuata la chiamata asincrona per visuallizare tutti i post pubblicati dall'utente
    },
    



}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
