<template>
  <!-- pagina che visualizzerà tutti i post che verranno pubblicati dal singolo utente-->
  <div class="flex  justify-center   flex-wrap ">
    <strong> POST FUTURI </strong>
    <div v-if="myPostsFuture" class=" flex  justify-center   flex-wrap "> <!-- v-for di vuejs  per prendere tutti  i post futuri-->
      <article v-for=" post of myPostsFuture" :key="post.id" class="  bg-red-200 m-4 border-4 border-red-600 rounded-lg sm:w-96 "> 

        <div class="flex  justify-center "> <!-- utente che ha pubblicato il porst e data-->

          <button 
              v-on:click.prevent="goToSinglePost(post.id)"
              to="/singlePost" 
              class="bg-MainButton rounded-full px-5 py-2 text-white  underline">
              MODIFICA POST
            </button>
          <div class="">
            Utente che ha pubblicato il post:  <strong class="font-bold">{{post.user.name}} </strong>
          </div>
          <div class="ml-4">
            Data: <strong > {{post.dataPubblication}} </strong>
          </div>

        </div>

        <div class="flex  justify-center w-full"> 

          <div class=""> <!-- titolo-->
                Titolo: <strong > {{post.title}} </strong>
          </div>

        </div>


        <div class="flex  justify-center"> <!--contenuto-->

          <div class="">
              
              Contenuto: <strong> {{post.post_content.textContent}} </strong>

              <div v-if=" post.post_content.users.length > 0">
                Utenti Taggati
                <article v-for=" userTagged of post.post_content.users" :key="userTagged.id">
                  <strong> {{userTagged.name}} </strong>
                </article>
              </div>

              Immagine: <img v-if="post.post_content.imgContent"  :src="post.post_content.postContent_image_full_url" alt="">
          </div>

        </div>
        <div class=""> <!-- id-->
            id: <strong> {{post.id}} </strong>
        </div>

      </article>

    </div>
    <div v-else >{{errorsPosts}}</div>
  </div>

</template>

<script>
//import ApiServices from '@/service/api-services'
export default {
  name: 'post-futuri',
  methods:
  {
    goToSinglePost: function(id) //funzione richiamata dal bottone per esegurie la chiamata api
    {
      this.$store.dispatch('getSinglePost',id); // getSinglePost eseguira una chiamata api passando l'id del post cliccato
    }
  },
  computed:
  {
    myPostsFuture() // variabile presa dallo store di vuejs contenente tutti i post che verranno pubblicati dal singolo utente
    { 
      return this.$store.getters.myPostsFuture;
    },
    user() //vairiabile dallo store contenente l'utente loggato
    {
      return this.$store.getters.user;
    },
    errorsPosts()
    {
      return this.$store.getters.errorsMyPosts;
    } 
  
  },

  created: function() // funzione richiamata all'inizio dell'apertura della pagina
  {
    this.$store.dispatch('getAllMyFuturePosts'); // verrà effettuata la chiamata api tramite la funzione getAllMyPostFuturi prendendo tutti POST che verranno pubblicati in futuro
  },



}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
