<template>
  <div id="app">
    <div id="nav">

      <t-header></t-header> <!-- importo l'header -->
      
    </div>
    <router-view/> <!-- ciò che si sceglie tramite header verrà visualizzato qua-->
    
  </div>
</template>


<script>
  import TwitHeader from '@/components/TwitHeader' //importo il componente header
  export default {
    components: 
    {
      't-header':TwitHeader   //do un nome al componente header
    },
  }
</script>

<style lang="scss">
</style>
