<template>
  <div class="">
    <!-- pagina con il form di login utente-->

      <article  v-for=" error of errors" :key="error.id"  >
        <p class="text-red-600"
        v-for="(errorMsg,index) of error" :key="index"
        >
        {{errorMsg}}
        </p>
      </article>

    <form class="flex  flex-col items-center">

      <div class="mb-4"> <!-- email -->
        <input 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="email"
          placeholder="email"
          type="text"
          v-model="userData.email">
      </div>
    
      <div class="mb-4"> <!-- password-->
        <input 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="password"
          placeholder="password"
          type="password"
          v-model="userData.password">
      </div>

      <div class=" flex justify-center relative"> <!-- bottone che richiama la funzione validLogin -->
        <button 
          v-on:click.prevent="validLogin"
          type="submit"
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline"> LOGIN 
        </button>
      </div>

    </form>

  </div>
</template>

<script>
export default {
  name: 'Login',
  data: function()
  {
    return{
      userData: //oggetto contente i dati dal form di login
      {
        email:'',
        password:'',
      }
    };
  },
  methods:
  {
    validLogin: function() // funzione richiamata dal bottone, che chiameraò un ulteriore funzione che consumerà la chiamata api per eseguire il login
    {
      var userData = JSON.parse(JSON.stringify(this.userData)) // userData verrà parsato in json ed inviato a lla funzione loginUser che consumera la chiamata api
      this.$store.dispatch('loginUser',  userData);
    },
  },
  computed:
  { 
    errors() //variabile errors che ritorna la collection di errori
    {
      return this.$store.getters.errors;
    }

  },
  
  destroyed() // al lyfe-hook di destroyed gli errori verranno resettati
  {
    this.$store.commit('resetErrors');
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
