<template>
  <div class="">
    <!-- in questa pagina verranno visualizzati tutti i post pubblicati da TUTTI gli utentei registrati al sito-->
    <p>Benvenuto {{user.name}}</p>  <!-- visualizzo il nome dell'utente loggato-->

    <div>
    <h2 class="flex"> TUTTI I POST</h2>
    <div class=" flex  justify-center   flex-wrap">
      <article v-for=" post of posts" :key="post.id" class="  bg-red-200 m-4 border-4 border-red-600 rounded-lg sm:w-96 lg:w-1/3 ">

        <div class="flex  justify-center "> <!-- utente che ha pubblicato il porst e data-->
        
            <div class="">
              Utente che ha pubblicato il post:  <strong class="font-bold">{{post.user.name}} </strong>
            </div>
            <div class="ml-4">
              Data: <strong > {{post.dataPubblication}} </strong>
            </div>
        </div>

        <div class="flex  justify-center w-full"> 

          <div class=""> <!-- titolo-->
                Titolo: <strong > {{post.title}} </strong>
          </div>

        </div>


        <div class="flex  justify-center"> <!--contenuto-->

          <div class="">
            Contenuto: <strong> {{post.post_content.textContent}} </strong>

            <div v-if=" post.post_content.users.length > 0">
              Utenti Taggati
              <article v-for=" userTagged of post.post_content.users" :key="userTagged.id">
                 <strong> {{userTagged.name}} </strong>
              </article>
            </div>
            
            Immagine: <img v-if="post.post_content.imgContent"  :src="post.post_content.postContent_image_full_url" alt="">
          </div>

        </div>
        <div class=""> <!-- id-->
            id: <strong> {{post.id}} </strong>
        </div>

      </article>

    </div>
  </div>

    
  </div>
</template>

<script>
export default {
  name: 'MainPage',
  computed:
  {
    user() //variabile user presa dallo store contente l'utente loggato
    {
      console.log( this.$store.getters.user);
      return this.$store.getters.user;
    },
    posts() //tutti i posts presi dallo store contententi tutti i post PUBBLICATI di tutti gli utente
    {
      return this.$store.getters.posts;
    },
    
  },
  
  created()
  {
    //if( this.$store.getters.posts === null ) test per preverine l'inserimento immediato di un post senza refreshare
    //{
      this.$store.dispatch('getAllPosts'); // richiamo la funzione getAllPost che consuma una chiamata api in modo da prendere tutti i post
    //}
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
