<template>
  <div class="">
    <!-- In questa pagian sono visualizzati tutti i tuoi post + un form di creazione di un singolo post -->
   My Post
    
  <article  v-for=" error of errors" :key="error.id"  >
    <p class="text-red-600"
    v-for="(errorMsg,index) of error" :key="index"
    >
    Errore : {{errorMsg}}
    </p>
  </article>

    <div>
      CREA POST:
      
      <form class="flex  flex-col items-center"> <!-- form creazione singolo post-->
        <input @change="onFileSelected" type="file" id="photo" class="" />Inserisci foto
        <div class="mb-4"> <!-- titolo -->
          <input 
            class="  border rounded w-full py-2 px-3 text-white  bg-red-200" 
            id="Titolo"
            placeholder="Titolo"
            type="text"
            v-model="postData.title">
        </div>
        
        <div class="mb-4"> <!-- contenuto -->
          <textarea class=" border rounded w-full py-2 px-3 text-white  bg-red-200"  id="Contenuto" placeholder="Contenuto" type="text" v-model="postData.textContent">
            
          </textarea>
          <!-- sistema di menzione utenti -->
          <div class="bg-blue-200" v-if ="postData.textContent !== '' && postData.textContent.includes('@')  "> <!-- se il contenuto è diverso da stringa e contiene una @ verrà visuallizzato questa collection "filteredUsers"-->
            <ul class="">

              <template v-if="filteredUsers.length > 0 "> <!-- verrà visualizzata solamente se è stata trovata un occorenza nella sua funzione computata di richiamo -->
                <li  class=" overflow-ellipsis hover:bg-green-200 text-blue-400 hover:text-white cursor-pointer px-2 py-4" v-for="fUser of filteredUsers" :key="fUser.id" @click="selectUser(fUser.name,fUser.id)"> <!-- semplice v-for per tutti gli utenti filtrati, ed un bottone che inserisce nel contenuto il nome dell'utente cliccato -->
                    {{fUser.name}}
                </li>
              </template>

            </ul>
          </div>
            <!-- sistema di menzione utenti -->
        </div>
      
        <div class="mb-4"> <!-- data di pubblicazione -->
          <input 
            class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
            id="data pubblicazione"
            placeholder="data pubblicazione"
            type="text"
            v-model="postData.dataPubblication">
        </div>

        <div class=" flex justify-center relative"> <!-- bottone con un evento che richiamata la funzione checkPostData-->
          <button 
            v-on:click.prevent="checkPostData"
            type="submit"
            class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline"> CREA POST 
          </button>
        </div>

      </form>
    </div>

    <post-pubblicati></post-pubblicati> <!-- importo i posti del singolo utente pubblicati e da pubblicare -->
    <post-futuri></post-futuri> <!-- importo i posti del singolo utente pubblicati e da pubblicare -->

  </div>
</template>

<script>
import PostsPubblicati from '@/components/MyPosts/PostsPubblicati' // importo i posti del singolo utente pubblicati e da pubblicare
import PostsFuturi from '@/components/MyPosts/PostsFuturi' // importo i posti del singolo utente pubblicati e da pubblicare
import axios from 'axios' //importo axios per effettuare una chiamata api direttamente su questa pagina in modo da aggiornare la lista dei post senza dover refreshare
export default {
  name: 'MyPosts',

  data: function()
  {
    return{
      postData: //i dati del post di creazione inseriti dal form
      {
        photo: undefined,
        title: '',
        textContent:'',
        dataPubblication:'',
        idUsersTagged: [],
      },
    };
  },
  computed:
  {
    errors() //collection ch econtiene gli errori passati da api
    {
      return this.$store.getters.errors;
    },
    
    users() //collection che contiene tutti gli utenti, necessaria solo per la parte di "tag,menzione"
    {
      return this.$store.getters.allUsers;
    },
    
    filteredUsers() //nuovo array creato a partire dalla collection users,
    { 
      return this.users.filter( user =>
      {
        
        let nomiUsers = this.postData.textContent.split("@"); //controllo ogni carattere dopo la @ e lo mette in un array a parte

        let filterOk = false; // creo un nuovo array contenente tutte i risultati di match
        for(let i = 1; i < nomiUsers.length; i++)
        {
          nomiUsers[i].toLowerCase(); // il nome dell'utente lo faccio diventare piccolo 
          filterOk = user.name.toLowerCase().includes( nomiUsers[i] ); //controllo se i nomi della collection user hanno il nome dopo la @ uguali
        }
        
        return filterOk; // return true o false, true verrà inserito in filteredUsers
        
      });

    },
  },

  components: 
  {
    'post-pubblicati':PostsPubblicati, //componente post pubblicati importato
    'post-futuri': PostsFuturi //componente post futuri importato
  },

  methods:
  {
    onFileSelected(event) //prendo la foto
    {
      this.postData.photo =  event.target.files[0];
    },
    
    selectUser(fUserName,fUserId) //questa funzione seleziona un singolo nome dell'utente dall'array filteredUsers
    {
      let newPostDataTextContent = this.postData.textContent.split("@")[0]; //elimino i caratteri rimanenti dopo la @
      this.postData.textContent = newPostDataTextContent + fUserName; // aggiunge al contenuto del post il nome dell'utente cliccato
      this.postData.textContent = this.postData.textContent.replace('@',' '); //elimino la @

      this.postData.idUsersTagged.push(fUserId);
      console.log(this.postData.idUsersTagged);
    },

    checkPostData: function() // funziona richiamata dal bottone del form, crea il post tramite chiamata api e... esegue 2 ulteriori chiamate asincrone dove verrà visualizzao immediatamente il post appena aggiunto(pubblicato o futuro)
    {
      this.$store.dispatch('createPost',  this.postData); // richiamo la funzione createPost che tramite payload "postData" consuma la mia api
      

      axios //chiamata api per visuallizzare immediatamente il post aggiunto senza refreshare la pagina
      .post('my-postPublished') //url di Laravel in route api
      .then(res => 
      { 
        this.$store.commit('setMyPublishedPosts',  res.data.result);  //chiamo la funzione setMyPostsPubblicati inviando il result da laravel contente tutti i post pubblicati dell'utente. La funzione salva i post nello store di VueJs
      })
      .catch( (err) =>
      {
          console.log(err);
      });


    
      axios //chiamata api per visuallizzare immediatamente il post aggiunto senza refreshare la pagina
      .post('my-postFuture')
      .then(res => 
      {
        this.$store.commit('setMyPostsFuture',  res.data.result);//chiamo la funzione setMyPostsFuturi inviando il result da laravel contente tutti i post che verranno pubblicati dell'utente. La funzione salva i post nello store di VueJs
      })
      .catch( (err) =>
      {
          console.log(err);
      });
      
      this.postData.title = ''; //i dati di postData devono essere riazzerrati per svuotare il form
      this.postData.textContent = ''; //i dati di postData devono essere riazzerrati per svuotare il form
      this.postData.dataPubblication = ''; //i dati di postData devono essere riazzerrati per svuotare il form
      
      this.$store.commit('resetErrors'); //gli errori devono essere riazzerati per evitare che riappaiano piu' volte in casi non necessari

    }
  },
  destroyed() // al lyfe-hook di destroyed gli errori verranno resettati
  {
    this.$store.commit('resetErrors');
  },
  created()
  {
    this.$store.dispatch('getAllUsers');
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
