<template>
  <div class="mt-4 ">
    <!-- in questa pagina è presente il form di registrazione dell' utente-->

      <article  v-for=" error of errors" :key="error.id"  >
        <p class="text-red-600"
        v-for="(errorMsg,index) of error" :key="index"
        >
        {{errorMsg}}
        </p>
      </article>

    <form class="flex  flex-col items-center">

      <div class="mb-4"> <!-- nome-->
        <input 
          class="  border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="name"
          placeholder="name"
          type="text"
          v-model="userData.name">
      </div>
      
      <div class="mb-4"> <!-- email-->
        <input 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="email"
          placeholder="email"
          type="text"
          v-model="userData.email">
      </div>
    
      <div class="mb-4"> <!-- password-->
        <input 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="password"
          placeholder="password"
          type="password"
          v-model="userData.password">
      </div>

      <div class=" flex justify-center relative"> <!-- bottone che richiama la funzione checkForm -->
        <button 
          v-on:click.prevent="checkForm"
          type="submit"
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline"> Registrati 
        </button>
      </div>

    </form>

  </div>
</template>

<script>
export default {
  name: 'Registrati',
  data: function()
  {
    return{
      userData: //variabile che contiene i valori dal form
      {
        name: '',
        email:'',
        password:'',
      }
    };
  },
  methods:
  {
    checkForm: function() //funzione richiamata dal bottone del form
    {
      var userData = JSON.parse(JSON.stringify(this.userData))  // json parsato per consumare la chiamata api
      this.$store.dispatch('registerUser',  userData); // richiamato la funzione registerUser passando userData per consumare la chiamata API
    },
  },
  computed:
  {
    errors()  //variabile errors che ritorna la collection di errori
    {
      return this.$store.getters.errors;
    }
  },
  
    destroyed() // al lyfe-hook di destroyed gli errori verranno resettati
    {
      this.$store.commit('resetErrors');
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
