<template>
  <div class="">
    <!-- Pagina che visualizza un post e tramite un form è possibile modificarlo -->

      <article  v-for=" error of errors" :key="error.id"  >
        <p class="text-red-600"
        v-for="(errorMsg,index) of error" :key="index"
        >
        {{errorMsg}}
        </p>
      </article>

    <article class="  bg-red-200 m-4 border-4 border-red-600 rounded-lg"> <!-- article dove verrà visualizzato il singolo post preso da una chiamata api -->

        <div class="flex flex-row justify-center w-full"> <!-- titolo e datapublbicazione del post -->
            <div class="">
              {{singlePost.title}}
            </div>
            <div class="ml-4">
              {{singlePost.dataPubblication}}
            </div>
        </div>


        <div class="flex flex-row justify-between w-full"> <!-- id e contenuto del post -->

          <div class="">
              {{singlePost.id}}
          </div>

          <div class="">
              {{singlePost.post_content.textContent}}
              
            <div v-if=" singlePost.post_content.users.length > 0">
              Utenti Taggati
              <article v-for=" userTagged of singlePost.post_content.users" :key="userTagged.id">
                 <strong> {{userTagged.name}} </strong>
              </article>
            </div>
              Immagine: <img v-if="singlePost.post_content.imgContent"  :src="singlePost.post_content.postContent_image_full_url" alt="">
          </div>

        </div>

      </article>

    <form class="flex  flex-col items-center"> <!-- form dove inserire il contenuto del post da modificare -->
      <input @change="onFileSelected" type="file" id="photo" class="" />Inserisci foto
      <div class="mb-4"> <!-- titolo -->
        <input 
          class="  border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="titolo"
          :placeholder="singlePost.title"
          type="text"
          v-model="post.title">
      </div>
      
      <div class="mb-4"> <!-- contenuto -->
        <textarea 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="contenuto"
          :placeholder="singlePost.post_content.textContent"
          type="text-area"
          v-model="post.textContent"> </textarea>
      </div>
    
      <div class="mb-4"> <!-- data pubblicazione -->
        <input 
          class=" border rounded w-full py-2 px-3 text-white  bg-red-200" 
          id="data"
          type="text"
          v-model="post.dataPubblication">
      </div>

      <div class=" flex justify-center relative"> <!-- bottone per inviare i dati del form ad una funzione checkSinglePostUpdate con l'id del post modificato -->
        <button 
          v-on:click.prevent="checkSinglePostUpdate(singlePost.id)"
          type="submit"
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline"> MODIFICA 
        </button>
      </div>

    </form>
    
  </div>
</template>

<script>
export default {
  name: 'singlePost',
  data: function()
  {
    return{
      post: //i dati del form sono memorizzati in quest oggetto
      {
        title: '',
        textContent:'',
        dataPubblication:'',
        id: '',
        photo:undefined,
      }
    };
  },
  methods: 
  {
    checkSinglePostUpdate: function(id) //metodo richiamato dal bottone
    {
      var sentPost = this.post; //valore da inviare alla chiamata api
      this.$store.dispatch("updatePost",{sentPost, id});  //chiamo la funzione  updatePost che consuma la chiamatta api passanto i valori del post + l'id

    },
    onFileSelected(event) //prendo la foto
    {
      this.post.photo =  event.target.files[0];
    },
  },
  computed:
  {
    singlePost()
    {
      console.log(this.$store.getters.singlePost);
      return this.$store.getters.singlePost; //prendo dallo store l'oggetto singlePost
    },

    errors()  //varaibile errors che ritorna la collection di errori dallo store
    {
      
      return this.$store.getters.errors;
      
    }
  },
  destroyed() // al lyfe-hook di destroyed gli errori verranno resettati
  {
    this.$store.commit('resetErrors');
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
