<template>
  <div class=" bg-MainLayout flex flex-col  md:flex-row justify-center px-2 py-2 relative   items-center   "> <!--  -->
    <!-- Header della pagina per navigare le rotte--> 

    <div class=" flex w-96 md:w-1/4 justify-center  lg:mt-0 sm:mt-10 myXs:mt-10"> <!-- rotta tutti i post -->
      <div class="nav-item"> <!-- rotta registrati -->
        <router-link 
          to="/Registrati" 
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline  ">
          REGISTRATI
        </router-link>
      </div>
    </div>

    <div class=" flex w-96 md:w-1/4 justify-center  lg:mt-0 sm:mt-10 "> <!-- rotta login-->

      <div class="nav-item">
        <router-link
          v-if="!isAuth" 
          to="/Login" 
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline ">
          LOGIN
        </router-link>
      </div>

    

      <div class="nav-item "> <!-- button che richiama la funzione di logout-->
        <button
          v-if="isAuth"
          type="submit"
          @click="onLogout"
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline ">
          LOGOUT
        </button>
      </div>

    </div>

    <div class=" flex w-96 md:w-1/4 justify-center  lg:mt-0 sm:mt-10 myXs:mt-10"> <!-- rotta tutti i post -->

      <div class="nav-item">
        <router-link 
          to="/" 
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline ">
          Tutti i Post
        </router-link>
      </div>

    </div>
    
    <div class=" flex w-96 md:w-1/4 justify-center  lg:mt-0 sm:mt-10 myXs:mt-10"> <!-- rotta per i miei post-->

      <div class="nav-item">
        <router-link 
          to="/MyPosts" 
          class="bg-MainButton rounded-full px-5 py-2 text-white shadow-2xl hover:bg-MainButtonHover font-bold underline ">
          I miei Post
        </router-link>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 't-header',
 methods:
 {
   onLogout: function()
    {
      this.$store.dispatch( 'logout' ); // verrà richiamata la funzione logout in modo da svuotare i token e lo userData nel quala l'utente è inserito
    }
 },
 computed:
 {
    isAuth() //vairiabile dallo store contenente uni'struzione per vedere se l'utente è loggato o meno
    {
      return this.$store.getters.isAuth;
    },
    headerButtonLabel: function()
    {
      return this.isAuth ? 'Logout' : 'Login';
    }
 }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
